/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
:root {
  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Lato", "Helvetica", sans-serif;
  --handwriting: "Nothing You Could Do", sans-serif;
  --primary-text-color: #4c3f3f;
  --secondary-bg: #C9B789;
  --gradient-bg: linear-gradient(to right, #ffdfec, #ffead8);
}
/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background: #fff4f4;
  color: var(--primary-text-color);
  line-height: 1.5;
  font: 1.7rem var(--primary-font);
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/******************************************
/* HEADER
/*******************************************/
header {
  width: 100%;
  height: 66vh;
  padding: 0;
  background: url('../assets/rose-cocktail.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  justify-content: center;
  align-content: space-between;
  position: relative;
}
.title {
  width: auto;
  max-width: 90%;
  padding: 40px 60px;
  margin: 0 auto;
  background: rgba(41, 10, 0, 0.4);
}
/******************************************
/* NAV
/*******************************************/
nav {
  width: 100%;
  justify-content: flex-end;
  gap: 35px;
  align-items: center;
  padding: 20px 20px 0 20px;
  color: #fff;
}
nav ul {
  gap: 35px;
}
nav a:link, nav a:active, nav a:visited {
  color: #fff;
  padding-bottom: 3px;
}
nav a:hover {
  border-bottom: 2px solid #fff;
}
/******************************************
/* MAIN
/*******************************************/
main {
  width: 100%;
  background: none;
  margin: 0 auto;
}
.content {
  margin: 0 auto;
  width: 100%;
  padding: 60px 7.5%;
}
p {
  margin-top: 10px;
}
a:link, a:active, a:visited {
  color:rgb(255, 85, 85);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color:#55732A;
}
/******************************************
/* SEARCH FORM
/*******************************************/
.searchForm {
  width: 100%;
  padding: 15px 5%;
  background: rgba(41, 10, 0, 0.4);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  bottom: 0;
  left: 0;
}
form {
  display: block;
  margin: 10px auto;
  flex-basis: 49%;
}
input[type="text"], input[type="search"] {
  width: 200px;
  height: 40px;
  display: block;
  font-family: var(--secondary-font);
  flex: 1;
  font-size: 2rem;
  padding: 0 10px;
  font-weight: 300;
}
label {
  font-size: 2.25rem;
  text-align: right;
  width: 200px;
  text-transform: uppercase;
  padding: 4px;
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
button {
  border: 0;
  background: salmon;
  color: #fff;
  width: 200px;
  border-radius: 3px;
  font: 1.3rem "Rajdhani", sans-serif;
  text-transform: uppercase;
  padding: 4px;
  display: block;
  margin: 3px auto;
  transition: 0.07s ease-in-out;
  flex-basis: 13%;
  height: 40px;
}
button:hover {
  background: pink;
}
button:active {
  background: rgb(255, 85, 85);
}
/******************************************
/* HEADERS
/*******************************************/
h1 {
  font-size: 7rem;
  margin: auto;
  text-align: center;
  color: #fff;
  font-family: var(--handwriting);
}
h2 {
  font-size: 3rem;
  font-family: var(--handwriting);
  text-align: center;
  margin: 10px auto 5px auto;
  color: #55732A;
  text-transform: capitalize;
}
h3 {
  margin: 10px auto 20px auto;
  font-size: 2.1rem;
  color: #222;
  font-family: "Roboto", var(--primary-font);
  text-transform: uppercase;
}
/******************************************
/* FOOTER
/*******************************************/
footer {
  width: 100%;
  background: #88706D;
  padding: 40px 5%;
  color: #fff;
  justify-content: space-between;
  gap: 35px;
}
footer a:link, footer a:active, footer a:visited {
  color: #D0C2C2;
}
footer a:hover {
  color: #ddd;
}
.logo {
  font-family: var(--handwriting);
  font-size: 2rem;
  padding: 0 10px;
}
footer ul {
  font-size: 1.1rem;
  text-align: right;
}
/******************************************
/* POPULAR BEVERAGES
/*******************************************/
.popularBeverages ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.popularBeverages img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #FA8072;
  background: #fff;
  transition: 0.2s ease-in-out;
}
.popularBeverages img:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.popularBeverages li span {
  display: block;
  text-align: center;
  margin-top: 8px;
}
.popularBeverages li span:before, .popularBeverages li span:after {
  content: ' - '
}
/******************************************
/* INTRO
/*******************************************/
.intro {
  justify-content: center;
  align-items: center;
  background: url('../assets/pink-cocktail3.jpg');
  background-size: cover;
  background-position: center;
}
.about {
  width: 90%;
  max-width: 900px;
  background: rgba(41, 10, 0, 0.4);
  color: #fff;
  padding: 40px;
}
.about h3 {
  color: #fff;
}
/******************************************
/* COCKTAILS
/*******************************************/
.promptSearch {
  font-size: 3rem;
  text-align: center;
  display: block;
  margin: 40px auto;
  padding: 0 7.5%;
}
.cocktailContent {
  padding: 60px 0;
}
.drinkBlock {
  margin: 0 0 30px 0;
  width: 100%;
  padding: 20px 7.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.drinkBlock:nth-of-type(2n) {
  background: #f1dede;
}
.drinkBlock ul {
  gap: 10px;
  margin-top: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.drinkBlock li {
  display: block;
  background: #fff;
  border: 1px solid #88706D;
  color: #88706D;
  padding: 5px;
}
.drinkInfo {
  margin: 0;
  flex-basis: 78%;
}
.drinkImg{
  display: block;
  flex-basis: 19%;
  max-width: 19%;
  border-radius: 50%;
}
.ingList {
  margin-bottom: 10px;
}
.err {
  margin-top: 30px;
  color: red;
}
#cocktailInfo {
  margin-top: 40px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.tagline {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  display: block;
  margin: auto;
  color: #555;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-bottom: 30px;
}
.tagline:before {
  display: block;
  content: '';
  width: 30%;
  border-top: 1px solid #555;
  height: 1px;
  margin: 5px auto;
}
.title .tagline {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0;
}
.title .tagline:before {
  border-top: 1px solid #fff;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}



.liveFilterContainer {
  display: block;
  width: 100%;
  padding: 20px 0;
}
.liveFilterContainer label {
  color: var(--primary-text-color);
  margin: auto;
  text-align: center;
}
input[type="search"] {
  width: 80%;
  max-width: 400px;
  margin: auto;
}
.is-hidden {
  display: none;
}
/******************************************
/* KEYFRAMES
/*******************************************/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/******************************************
/* MEDIA QUERIES
/*******************************************/
@media all and (max-width: 765px) {
  footer .logoContainer, footer .credits, footer ul {
    text-align: center;
    flex-basis: 100%;
  }
  footer {
    gap: 10px;
  }
  .drinkImg {
    flex-basis: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 -100px;
    border-radius: 0;
  }
}
@media all and (max-width: 700px) {
  button {
    flex-basis: 49%;
    margin-top: 10px;
  }
}
@media all and (max-width: 630px) {
  h1 {
    font-size: 5rem;
  }
}
@media all and (max-width: 635px) {
  h1 {
    font-size: 4rem;
  }
  .title .tagline {
    font-size: 2rem;
  }
}
@media all and (max-width: 335px) {
  header {
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
  }
  .title .tagline {
    font-size: 1.6rem;
  }
}